{
  "env": {
    "development": {
      "presets": ["es2015", "stage-0", "react"]
    },
    "production": {
      "presets": ["es2015", "stage-0", "react"],
      "plugins": [
        [
          "transform-react-remove-prop-types", {
            "mode": "wrap"
          }
        ]
      ]
    }
  }
}
