{
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "brace-style": [2, "1tbs"],
    "camelcase": [2, { "properties": "always" }],
    "comma-dangle": [2, "never"],
    "comma-style": [2, "last"],
    "eol-last": 2,
    "indent": [2, 2, { "SwitchCase": 1 }],
    "key-spacing": [2, { "beforeColon": false, "afterColon": true }],
    "linebreak-style": [2, "unix"],
    "no-cond-assign": [2, "always"],
    "no-multiple-empty-lines": [2, { "max": 1 }],
    "no-spaced-func": 2,
    "no-trailing-spaces": 2,
    "newline-after-var": [2, "always"],
    "object-curly-spacing": [2, "always"],
    "quote-props": [2, "as-needed"],
    "quotes": [2, "single"],
    "semi": [2, "always"],
    "space-after-keywords": [2, "always"],
    "space-before-blocks": [2, "always"],
    "space-before-function-paren": [2, "never"],
    "space-in-parens": [2, "never"]
  }
}
