{
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "rules": {
    "space-after-keywords": "always",
    "quotes": "single",

    // https://github.com/babel/babel-eslint/issues/8
    "no-undef": 0,
    "no-unused-vars": 0
  }
}
