@import '../variables';

.footer {
  display: flex;
  flex-shrink: 0;
  margin-bottom: 30px;
  height: 32px;
  line-height: 32px;

  img {
    margin-right: 5px;
    border-radius: 4px;
  }

  strong {
    color: @red;
  }

  a {
    text-decoration: none;
    color: @blue;
  }
}
