@import './variables';

.examples {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;

  &__column {
    display: flex;
    flex-direction: column;
  }

  &__menu {
    flex-shrink: 0;
    min-width: 180px;
    padding-top: 10px;
    font-size: 18px;
    border-radius: 4px;

    &-item {
      padding: 5px 0;
      color: #777;
      cursor: pointer;

      &--active {
        color: @red;
        cursor: default;
      }
    }
  }

  &__events-log-wrapper {
    display: flex;
    flex-grow: 1;
    position: relative;
    margin-bottom: 20px;

    button {
      position: absolute;
      top: 0;
      right: 0;
      background: none;
      border: 0;
      cursor: pointer;
      color: #999;

      &:hover {
        color: #000;
      }
    }
  }
}
