.controlled-component-example {
  button {
    font-size: 16px;
    padding: 4px 10px;
    margin-right: 5px;
  }

  .react-autosuggest {
    margin-top: 5px;
  }

  .reverse-container {
    height: 60px;
    line-height: 60px;

    button {
      float: right;
      margin-top: 50px;
    }
  }

  .to-container {
    margin-top: 40px;
  }
}
