#app {
  font-family: 'Helvetica Neue', Helvetica, Arial;
}
.react-autosuggest {
  position: relative;
}
.react-autosuggest input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-size: 18px;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
}
.react-autosuggest input[aria-expanded="true"] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.react-autosuggest input:focus {
  outline: none;
}
.react-autosuggest__suggestions {
  position: absolute;
  top: 51px;
  width: 280px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 1px solid #aaaaaa;
  background-color: #fff;
  font-size: 18px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}
.react-autosuggest__suggestions-section:first-child .react-autosuggest__suggestions-section-name {
  border-top: 0;
}
.react-autosuggest__suggestions-section-name {
  padding: 10px 0 0 10px;
  font-size: 12px;
  text-transform: uppercase;
  color: #777;
  border-top: 1px dashed #ccc;
}
.react-autosuggest__suggestions-section-suggestions {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}
.react-autosuggest__suggestion--focused {
  background-color: #ddd;
}