.container {
  height: 720px;
  color: #fff;
  background-color: #21a2dd;
  text-align: center;
}

.logo {
  background-image: url(./logo.svg);
}

.h1 {
  margin: 0;
  font-size: 50px;
  font-weight: 300;
}
